
.main{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

h2{
	color: coral;
	font-size: 44;
	text-align: center;
}

input[type = "text"]{
	border: 1px solid gray;
	height: 50;
	width: 250px;
	color: white;
	background-color: #2B303B;
	font-size: 18;
	text-align: center;
	border-radius: 30px;
	outline: none;
}

button{
	border: 1px solid coral;
	cursor: pointer;;
	padding: 2px 20px;
	height: 50px;
	width: 180px;
	color: coral;
	background-color: #2B303B;
	font-size: 18;
	text-align: center;
	border-radius: 30px;
	outline: none;
}

button:hover{
	background-color: coral;
	color: black;
	border: none;
	font-weight: bold;;
}